<!DOCTYPE html>
<html>
    <head>
        <title>Textbook Search Results</title>
    </head>
    <body>
<!--        <h1><center>Search Results:</center></h1>-->
<!--        <iframe id="inlineFrameExample"-->
<!--    title="Inline Frame Example"-->
<!--    width="300"-->
<!--    height="200"-->
<!--    src="https://www.amazon.com/ccp ">-->
<!--</iframe>-->
<!--<script>-->
<!--    window.document.domain = "www.amazon.com";-->
<!--    window.document.getElementById("inlineFrameExample").contentwindow.document.body.style.backgroundColor = "blue";-->
<!--</script>-->
    </body>
</html>