<!DOCTYPE html>
<html>
    <head>
        <title>Textbook Search Results</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="/static/assets/css/main.css" />
    </head>
    <body>
        
        <h2><center>Search Results</center></h2>
        <br>
        <br>
        <br>
        <div class = "container">>
            <h1><center>{{title}} is ${{converted_price}}</center></h1>
        </div
        
        {% if converted_price < 6.00 %}
        <h1>Email has been sent to your email. Once the price falls below $6.00, you will be notified of the price drop.</h1>

        {% endif%}
    
    <!--<form method = "post", action = "/email">-->
    <!--    <input type="text" name="userEmail" placeholder = "Please type email here" />-->
    <!--    <center><input type="submit" value="Submit"/></center>-->
    <!--</form>    -->
    <!--    <p>Please input your e-mail in the form above. A notification will be sent once the price drops. Happy Saving!</p>-->
    </body>
</html>